body {
    background-color: #2d235e;
    background-image: linear-gradient(to right, #42386e 0%, #2d235e 30%, #2d235e 70%, #42386e 100%);
    background-repeat: no-repeat;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1, h3 {
    font-family: "Roboto Mono";
    font-weight: bolder;
    color: #f8a18d;
}

p {
    font-family: Lato;
    font-weight: 500;
    font-size: 20px;
    color: #cc9fb0;
}

header {
    display: inline-block;
    width: 100%;
    background-color: #6c6a94;
    text-align: center;
    font-family: "Roboto mono";
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 5px;
    vertical-align: middle;
}

header a {
    display: inline-block;
    padding: 30px;
    height: auto;
    width: 80px;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    color: #cc9fb0;
}

header a:hover {
    /* transform: scale(1.1);*/
    background-color: #6c6a94;
    box-shadow: #42386e 3px 3px 6px 0px inset, #42386e -3px -3px 6px 1px inset;
    border-radius: 5px;
    color: #cc9fb0;
}

header a:visited {
    color: #cc9fb0;
}

.button {
    font-family: "Roboto Mono";
    font-size: 15px;
    color: #786826;
    background-color: #CBF7F3;
    border-color: #786826;
}

.intro {
    margin-top: 10%;
    margin-left: 15%;
    width: 500px;
    text-align: left;
}

main {
    justify-content: left;
    height: auto;
    max-width: 1200px;
    margin: 60px auto 60px auto;
    display: flex;
    flex-direction: column;
}

.projectIntro {
    height: 100px;
    display: flex;
    justify-content: center;
}

.projects {
    display: flex;
    flex-direction: column;
}

#project {
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin: 1%;
    box-shadow: #42386e 0px 4px 8px -2px, #42386e 0px 0px 0px 1px;
    border-radius: 5px;
}

#project p{
    font-size: 20px;
    padding-left: 20px;
}

footer p {
    font-size: 15px;
    opacity: 0.5;
}